
.text-input-container {
    color: var(--light1);
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
}

.text-input-itself {
    border-radius: 10px;
    border: 2px solid var(--light1);
    background-color: var(--light2);
    padding: 8px 20px;
    text-align: center;
    outline: none;
    color: white;
    width: 300px;
}


@media screen and (max-width: 500px){

    .text-input-container {
        gap: 15px;
        justify-content: space-between;
    }
    .text-input-itself {
        width: fit-content;
        flex: 1;
    }
}