

.piece-card-container {

}

.pice-card-head {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.data-input-form-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

}

.piece-card-container .inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.piece-card-container .show-actions {
    display: flex;
    flex-direction: column;
   justify-content: space-between;
}

.piece-card-container .show-actions .head{
    color: var(--light1);
    margin-bottom: 8px;
}

.piece-card-container .show-actions .image-itself {
    border: 2px solid var(--light1);
    border-radius: 10px;
    min-width: 200px;
    max-width: 320px;
    width: 100%;
}

.piece-card-container .show-actions .buttons-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


@media screen and (max-width: 500px){
    .piece-card-container .show-actions .buttons-container {
        flex-wrap: wrap;
        gap: 20px;
        margin: 20px auto;
    }
}